@media only screen and (min-width: 600px) and (max-width: 767px){
    .footer-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    p{
        margin-top: 20px;
        font-size: 15px;
    }
}
@media only screen and (min-width: 400px) and (max-width: 599px){
    .footer-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    p{
        margin-top: 20px;
        font-size: 13px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 399px){
    .footer-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    p{
        margin-top: 20px;
        font-size: 12px
    }
}

@media only screen and (min-width: 220px) and (max-width: 319px){
    .footer-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    p{
        margin-top: 20px;
        font-size: 12px
    }
}